{
    "_comment"   : "Configure parameters to optimize",
    "parameters" : {
        "tagger1_width" : {
            "element"    : "value",
            "path"       : ".//constant[@name='Tagger1_Width']",
            "default"    : "147.84",
            "units"      : "mm",
            "lower"      : "140.0",
            "upper"      : "160.0",
            "compact"    : "compact/far_backward/definitions.xml",
            "stage"      : "sim",
            "value_type" : "float",
            "param_type" : "range"
        },
        "tagger1_height" : {
            "element"    : "value",
            "path"       : ".//constant[@name='Tagger1_Height']",
            "default"    : "200.0",
            "units"      : "mm",
            "lower"      : "140.0",
            "upper"      : "260.0",
            "compact"    : "compact/far_backward/definitions.xml",
            "stage"      : "sim",
            "value_type" : "float",
            "param_type" : "range"
        },
        "tagger2_width" : {
            "element"    : "value",
            "path"       : ".//constant[@name='Tagger2_Width']",
            "default"    : "147.84",
            "units"      : "mm",
            "lower"      : "140.0",
            "upper"      : "160.0",
            "compact"    : "compact/far_backward/definitions.xml",
            "stage"      : "sim",
            "value_type" : "float",
            "param_type" : "range"
        },
        "tagger2_height" : {
            "element"    : "value",
            "path"       : ".//constant[@name='Tagger2_Height']",
            "default"    : "150.0",
            "units"      : "mm",
            "lower"      : "140.0",
            "upper"      : "260.0",
            "compact"    : "compact/far_backward/definitions.xml",
            "stage"      : "sim",
            "value_type" : "float",
            "param_type" : "range"
        }
    },
    "constraints" : [
        "tagger1_width <= 155.0",
        "tagger2_height >= 175.0"
    ]
}
