{
    "_comment"   : "Configure parameters to optimize",
    "parameters" : {
        "tagger1_layer1_weight1" : {
            "_comment"   : "This is to test modifying vector parameters",
            "path"       : "LOWQ2:TaggerTrackerM1LocalTracks:layerWeights",
            "default"    : "1.0",
            "units"      : "",
            "lower"      : "0.0",
            "upper"      : "1.0",
            "stage"      : "rec",
            "value_type" : "float",
            "param_type" : "range",
            "is_vector"  : true,
            "index"      : 0
        },
        "tagger1_layer1_weight2" : {
            "_comment"   : "This is to test modifying vector parameters",
            "path"       : "LOWQ2:TaggerTrackerM1LocalTracks:layerWeights",
            "default"    : "1.0",
            "units"      : "",
            "lower"      : "0.0",
            "upper"      : "1.0",
            "stage"      : "rec",
            "value_type" : "float",
            "param_type" : "range",
            "is_vector"  : true,
            "index"      : 1
        },
        "tagger1_layer1_weight3" : {
            "_comment"   : "This is to test modifying vector parameters",
            "path"       : "LOWQ2:TaggerTrackerM1LocalTracks:layerWeights",
            "default"    : "1.0",
            "units"      : "",
            "lower"      : "0.0",
            "upper"      : "1.0",
            "stage"      : "rec",
            "value_type" : "float",
            "param_type" : "range",
            "is_vector"  : true,
            "index"      : 2
        },
        "tagger1_layer1_weight4" : {
            "_comment"   : "This is to test modifying vector parameters",
            "path"       : "LOWQ2:TaggerTrackerM1LocalTracks:layerWeights",
            "default"    : "1.0",
            "units"      : "",
            "lower"      : "0.0",
            "upper"      : "1.0",
            "stage"      : "rec",
            "value_type" : "float",
            "param_type" : "range",
            "is_vector"  : true,
            "index"      : 3
        }
    },
    "constraints" : {
    }
}
