{
    "_comment"   : "Configures runtime options, and paths to EIC software components",
    "out_path"   : "/home/dereka/aid2e/dev/ForLowQ2Stage1A/out",
    "run_path"   : "/home/dereka/aid2e/dev/ForLowQ2Stage1A/run",
    "log_path"   : "/home/dereka/aid2e/dev/ForLowQ2Stage1A/log",
    "eic_shell"  : "/home/dereka/.bin/eic-shell",
    "epic_setup" : "/home/dereka/aid2e/dev/ForLowQ2Stage1A/epic/install/bin/thisepic.sh",
    "det_path"   : "/home/dereka/aid2e/dev/ForLowQ2Stage1A/epic/install/share/epic",
    "det_config" : "epic_ip6_extended",
    "sim_exec"   : "npsim",
    "sim_input"  : {
        "single_electron" : {
            "location" : "/home/dereka/aid2e/dev/ForLowQ2Stage1A/LowQ2-MOBO/steering/electron",
            "type"     : "gps"
        }
    },
    "eicrecon_setup" : "/home/dereka/aid2e/dev/ForLowQ2Stage1A/EICrecon/bin/eicrecon-this.sh",
    "rec_exec"       : "eicrecon",
    "rec_collect"    : [
        "MCParticles",
        "GeneratedParticles",
        "BackwardBeamlineHits",
        "TaggerTrackerM1LocalTracks",
        "TaggerTrackerM2LocalTracks",
        "TaggerTrackerReconstructedParticles"
    ],
    "rec_args" : [
        "-Pplugins_to_ignore=janatop,LUMISPECCAL,ECTOF,BTOF,FOFFMTRK,RPOTS,B0TRK,MPGD,ECTRK,DRICH,DIRC,pid,tracking,EEMC,BEMC,FEMC,EHCAL,BHCAL,FHCAL,B0ECAL,ZDC,BTRK,BVTX,PFRICH,richgeo,evaluator,pid_lut,reco,rootfile"
    ]
    "scheduler_opts" : {
        "n_jobs"        : -1,
        "partition"     : "ifarm",
        "time_limit"    : "03:00:00",
        "memory"        : "8G",
        "cpus_per_task" : 4,
        "account"       : "eic",
        "mail-user"     : "dereka@jlab.org",
        "mail-type"     : "END,FAIL"
    }
}
