{
    "_comment"   : "Configure objectives to optimize for",
    "objectives" : {
        "TaggerOneResolution" : {
            "input" : "single_electron",
            "path"  : "<where-the-mobo-goes>/LowQ2-MOBO/objectives",
            "exec"  : "LowQ2LocalResolution.py",
            "rule"  : "python <EXEC> -i <INPUT> -o <OUTPUT> -t 1",
            "stage" : "ana",
            "goal"  : "minimize"
        },
        "TaggerParticleResolution" : {
            "input" : "single_electron",
            "path"  : "<where-the-mobo-goes>/LowQ2-MOBO/objectives",
            "exec"  : "LowQ2GlobalResolution.py",
            "rule"  : "python <EXEC> -i <INPUT> -o <OUTPUT>",
            "stage" : "ana",
            "goal"  : "minimize"
        }
    }
}
