{
    "_comment"   : "Configure objectives to optimize for",
    "objectives" : {
        "ElectronEnergyResolution" : {
            "input" : "single_electron",
            "path"  : "/home/dereka/aid2e/dev/ForBICStage1/BIC-MOBO/objectives",
            "exec"  : "BICEnergyResolution.py",
            "rule"  : "python <EXEC> -i <INPUT> -o <OUTPUT> -p 11",
            "stage" : "ana",
            "goal"  : "minimize"
        }
    }
}
