{
    "_comment"   : "Configure objectives to optimize for",
    "objectives" : {
        "TaggerOneResolution" : {
            "input"     : "single_electron",
            "path"      : "/home/dereka/aid2e/test/DebugLowQ2/LowQ2-MOBO/objectives",
            "exec"      : "LowQ2LocalResolution.py",
            "rule"      : "python <EXEC> -s <SIM> -r <RECO> -o <OUTPUT> -t 1",
            "stage"     : "ana",
            "goal"      : "minimize",
            "threshold" : 1.0
        },
        "TaggerParticleResolution" : {
            "input"     : "single_electron",
            "path"      : "/home/dereka/aid2e/test/DebugLowQ2/LowQ2-MOBO/objectives",
            "exec"      : "LowQ2GlobalResolution.py",
            "rule"      : "python <EXEC> -i <RECO> -o <OUTPUT>",
            "stage"     : "ana",
            "goal"      : "minimize",
            "threshold" : 1.0
        }
    }
}
