{
    "_comment"         : "Configures problem for Ax",
    "name"             : "Low-Q2 Optimization",
    "problem_name"     : "lowq2_mobo",
    "OUTPUT_DIR"       : "<where-the-output-goes>/out",
    "n_sobol"          : 2,
    "min_sobol"        : 2,
    "max_parallel_gen" : 2,
    "n_max_trials"     : 5
}
