{
    "_comment"         : "Configures problem for Ax",
    "name"             : "Low-Q2 Optimization",
    "problem_name"     : "lowq2_mobo",
    "OUTPUT_DIR"       : "<where-the-output-goes>/out",
    "n_sobol"          : 25,
    "min_sobol"        : 10,
    "max_parallel_gen" : 3,
    "n_max_trials"     : 100
}
