{
    "_comment"   : "Configures runtime options, and paths to EIC software components",
    "out_path"   : "<where-the-output-goes>",
    "run_path"   : "<where-the-running-happens>",
    "log_path"   : "<where-the-logs-go>",
    "eic_shell"  : "<path-to-your-script>/eic-shell",
    "epic_setup" : "<where-the-geo-goes>/epic/install/bin/thisepic.sh",
    "det_path"   : "<where-the-geo-goes>/epic/install/share/epic",
    "det_config" : "epic",
    "sim_exec"   : "npsim",
    "sim_input"  : {
        "single_electron" : {
            "location" : "<where-the-mobo-goes>/BIC-MOBO/steering/electron",
            "type"     : "gun"
        }
    },
    "rec_exec"    : "eicrecon",
    "rec_collect" : [
        "MCParticles",
        "GeneratedParticles"
    ]
}
