{
    "_comment"   : "Configures runtime options, and paths to EIC software components",
    "out_path"   : "<where-the-output-goes>",
    "run_path"   : "<where-the-running-happens>",
    "log_path"   : "<where-the-logs-go>",
    "eic_shell"  : "<path-to-your-script>/eic-shell",
    "epic_setup" : "<where-the-geo-goes>/epic/install/bin/thisepic.sh",
    "det_path"   : "<where-the-geo-goes>/epic/install/share/epic",
    "det_config" : "epic_ip6_extended",
    "sim_exec"   : "npsim",
    "sim_input"  : {
        "single_electron" : {
            "location" : "<where-the-mobo-goes>/LowQ2-MOBO/steering/electron",
            "type"     : "gun"
        }
    },
    "rec_exec"    : "eicrecon",
    "rec_collect" : [
        "MCParticles",
        "GeneratedParticles",
        "BackwardBeamlineHits",
        "TaggerTrackerM1LocalTracks",
        "TaggerTrackerM2LocalTracks",
        "TaggerTrackerReconstructedParticles"
    ],
    "scheduler_opts" : {
        "n_jobs"        : -1,
        "partition"     : "<your-partition>",
        "time_limit"    : "03:00:00",
        "memory"        : "8G",
        "cpus_per_task" : 4,
        "account"       : "<your-account>",
        "mail-user"     : "<your-email-address>",
        "mail-type"     : "END,FAIL"
    }
}
